.loading-overlay {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loading-text {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
    filter: blur(5px);
    animation: unblur 4s forwards;
    margin-bottom: 2rem;
  }
  
  /* Animación para hacer desaparecer el difuminado */
  @keyframes unblur {
    0% {
      filter: blur(10px); /* Comienza difuminado */
    }
    100% {
      filter: blur(0); /* Elimina el difuminado */
    }
  }